*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
h2{
    text-align: center;
    color: rgb(152, 112, 112) ;
    margin: 50px;
    font-size: 25px;
}
.bg{
    display: flex;
    background-color: rgb(255,242,231);
    text-align: center; 
    margin: auto;
    width: 80px;
    margin-bottom: 20px;
    color: rgb(152, 112, 112);
    border: 1px solid rgb(152, 112, 112);
}
.para{
    font-size: 20px;
    margin: 50px;
    color: rgb(152, 112, 112); 
    margin: auto;
    margin-bottom: 50px;
    background-color: rgb(255,242,231);
    max-width: 500px;
    text-align: center;

}
body {
    margin: 0;
    padding: 0; 
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: whitesmoke;
}
header {
 
  width: 100%;
  background-color: rgb(255,242,231);
}
footer{
  font-family: sans-serif;
  display: flex;

  width: 100%;
  height: 90px;
  background-color: rgb(255,242,231);
  align-items: center; 
}
.footer{

  color: rgb(152, 112, 112); 
  text-align: center;
  margin: auto;
  font-size: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  
}

.title {
  font-size: 1.8em;
  color: rgb(152, 112, 112);
  text-align: center;
  margin: auto;
  padding-left: 280px;
}
.container {
  max-width: 800px;
  margin: 80px auto 0; 
  background: #f9f0ed;
  padding: 30px; 
  border-radius: 8px;
  margin-bottom: 100px;
}

.nav-links {
  display:flex ;
  gap: 30px; 
  margin-left: 00px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(152, 112, 112);
}

.nav-links a:hover {
  color: rgb(219, 181, 181);
}